.post{
	width: 90%;
	margin-left: 5%;
	margin-top: 25px;
/*	height: 170px;*/
	border-style: solid;
	border-width: 1px;
	border-color: #000000;	
}

.postWrapper{
	padding: 10px;
}

.postTop{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.postTopLeft{
	display: flex;
	align-items: center;
}

.postProfileImg{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
}

.postUsername{
	font-size: 15px;
	margin: 0 10px;
}

.postDate{
	font-size: 12px;
}

.postCenter{
	margin: 20px 0;
}

.postImg{
	margin-top: 20px;
	width: 100%;
	max-height: 500px;
	object-fit: contain;
}

.postText{
	overflow-wrap: break-word;
}

.postBottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.postBottomLeft{
	display: flex;
	align-items: center;
}

.likeIcon{
	cursor: pointer;
}

.postLikeCounter{
	font-size: 15px;
}

.postCommentText{
	cursor: pointer;
	font-size: 15px;
}