.sidebar{
	flex: 3;
	height: calc(100vh - 53px);
	overflow-y: scroll;
	position: sticky;
	top: 53px;
}

::-webkit-scrollbar{
	width: 1px;
}

::-webkit-scrollbar-track{
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
	background-color: #000000;
}

.sidebarWrapper{
	padding: 20px;
}

.sidebarList{
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebarListItem{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.sidebarIcon{
	margin-left: 15px;
	margin-right: 5px;
}

.sidebarItemText{
	margin-left: 5px;
}

.sidebarHr{
	margin: 20px 0;
}

/*.sidebarFriendList{
	padding: 0;
	margin: 0;
	list-style: none;
	position: sticky;
	top: 53px;
}

.sidebarFriend{
	display: flex;
	align-items: center;
	margin-left: 15px;
	margin-bottom: 15px;
}

.sidebarFriendImg{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 5px;
}
*/