.topbarContainer{
	height:  50px;
	width:  100%;
	background-color: #ffffff;
	border-style: solid;
	border-top: none;
	border-left: none;
	border-right: none;
	border-width: 3px;
	border-color: #000000;
	display:  flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 999;
}

.topbarLeft {
	flex: 3;
}

.logo {
	font-size: 24px;
	margin-left: 20px;
	font-weight: bold;
	color: #000000;
	cursor:  pointer;
}

.topbarCenter {
	flex: 5;
}

.searchIcon{
	font-size: 22px !important;
	margin-left: 5px;
}

.searchBar {
	width: 100%;
	height: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	display: flex;
	align-items: center;
}

.searchInput{
	border: none;
	width: 90%;
}

.searchInput:focus{
	outline: none;
}

.topbarRight {
	flex: 4;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #000000;
}

.topbarLink{
	margin-right: 10px;
	font-size: 14px;
	cursor: pointer;
}

.topbarIcons{
	display: flex;
}

.topbarIconItem{
	margin-right: 15px;
	cursor: pointer;
	position: relative;
}

.topbarIconBadge{
	width: 15px;
	height: 15px;
	background-color: red;
	border-radius: 50%;
	color: #ffffff;
	font-size: 12px;
	position: absolute;
	top: -5px;
	right: -5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.topbarImg {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}