
/*::-webkit-scrollbar{
	width: 1px;
}

::-webkit-scrollbar-track{
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
	background-color: #000000;
}
*/
.chatListFriend{
	display: flex;
	align-items: center;
	margin-top: 15px;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.chatListFriend:hover{
background-color: rgb(245, 243, 243);
}

.chatListFriendImg{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 5px;
}
