.share{
	width: 90%;
	margin-left: 5%;
	margin-top: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;	
}

.shareWrapper{
	padding: 10px;
	/*margin-left: 10px;*/
}

.shareTop{
	display: flex;
	align-items: center;
}

.shareProfileImg{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
}

.shareInput{
	border: none;
	width: 80%;
	margin-left: 10px;
}

.shareInput:focus{
	outline: none;
}

.shareHr{
	margin: 20px;
}

.shareImageContainer{
	padding: 0 20px 10px 20px;
	position: relative;
}

.shareImg{
	width: 100%;
	object-fit: cover;
}

.shareCancelImg{
	position: absolute;
	top: 0;
	right: 20;
	cursor:  pointer;
}

.shareBottom{
	/*width: 100%;*/
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.uploadInfo{
	font-size: 12px;
	margin-left: 10px;
}

.shareOptions{
	display: flex;
}

.shareOption{
	display: flex;
	align-items: center;
	margin-right: 15px;
	cursor: pointer;
}

.shareIcon{
	font-size: 18px;
	margin-right: 5px;
}

.shareOptionText{
	text-size: 14px;
}

.shareButton{
	border: none;
	padding: 10px;
	border-style: solid;
	background-color: #ffffff;
	margin-right: 10px;
	cursor: pointer;
}